.backgroundPurpleCookie{
    padding-top: 30px;
    background-color: #8185DC;
    height:514vh;
    display: flex;
    justify-content: center;
}

.backgroundPurpleCookie h2{
    font-family: ClashGroteskSemiBold;
    font-size: 4.6rem;
    text-transform:uppercase
}
