.section.newsletter {
  padding-bottom: 40vh;
}

.newsletter__block {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  height: auto;
  border: 3px solid black;
  background-color: var(--clr-primary-1);
}

.newsletter__text {
  display: flex;
  flex: 1;
  flex-flow: column nowrap;
  place-content: center;
  max-width: 100%;
  height: auto;
  padding: 3rem;
}

.newsletter__title h2 {
  font-family: "Clash Grotesk", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  color: black;
}

.newsletter__subtitle h2 {
  font-family: "Clash Grotesk", sans-serif;
  font-size: 5rem;
  font-weight: 600;
  color: black;
  line-height: 5rem;
}

.newsletter__bar {
  position: relative;
  width: 100%;
  height: auto;
  border-top: 3px solid black;
  background-color: white;
}

.newsletter__input {
  font-family: "Clash Grotesk", sans-serif;
  font-size: 1.75rem;
  font-weight: 500;
  color: black;
  width: 85%;
  height: 100px;
  padding: 0 50px;
}

.newsletter__btn {
  position: absolute;
  top: 0.875rem;
  right: 0.875rem;
  font-family: "Clash Grotesk", sans-serif;
  font-size: 1.75rem;
  font-weight: 500;
  color: black;
  padding: 1rem 3rem;
  border: 3px solid black;
  border-radius: 50px;
  background-color: var(--clr-primary-1);
  cursor: pointer;
  transition: all 200ms ease-out;
}

.newsletter__btn:hover {
  background-color: white;
}
