.backgroundPurpleCGU{
    padding-top: 30px;
    background-color: #8185DC;
    height:514vh;
    display: flex;
    justify-content: center;
}

.backgroundPurpleCGU h2{
    width:745px;
    font-family: ClashGrotesk-Semibold;
    font-size: 4rem;
    text-transform:uppercase
}