.card {
  position: relative;
  display: flex;
  width: 285px;
  height: 420px;
  margin-bottom: 1.875rem;
  overflow: hidden;
}

.card__container {
  display: flex;
  flex-flow: column nowrap;
  place-content: flex-end;
  width: 400px;
  height: auto;
  border: 3px solid black;
  overflow: hidden;
}

.card__vote {
  font-size: 1.25rem;
  font-weight: 600;
}

.card__image {
  position: absolute;
  top: 0;
  right: -65px;
  display: flex;
  place-content: center;
  place-items: center;
  width: inherit;
  height: inherit;
  overflow: hidden;
  cursor: pointer;
  z-index: -10;
}

.card__name {
  display: flex;
  place-items: center;
  width: 100%;
  height: 4rem;
  padding-left: 1.25rem;
  border-top: 3px solid black;
  background-color: var(--clr-primary-1);
}

.card__name h4 {
  font-size: 1.5rem;
  font-weight: 500;
  color: black;
}

.card__gender {
  display: flex;
  place-items: center;
  width: 100%;
  height: auto;
  padding: 0.75rem 0;
  background-color: white;
  overflow: hidden;
}

.card_gender_container {
  white-space: nowrap;
  animation: marquee 25s infinite linear;
}
@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.card__gender p {
  font-size: 1rem;
  font-style: italic;
  font-weight: 600;
  color: black;
  letter-spacing: 1px;
}
.card__gender p:after {
  content: "HIP-HOP • TRAP • CLOUD RAP • RNB • DRILL";
  padding: 0 34px;
}

.cercle__btn.card_like {
  position: absolute;
  top: 18px;
  right: 18px;
  height: 60px;
}

.cercle_btn_container.card_like {
  width: 22px;
  height: auto;
}

.cercle__btn.card_save {
  position: absolute;
  top: 90px;
  right: 18px;
  height: 60px;
}

.cercle_btn_container.card_save {
  width: 18px;
  height: auto;
}

.card__redirect {
  position: relative;
  top: 0;
  left: 0;
  width: 300px;
  height: 300px;
}
