@font-face { font-family: ClashGroteskBold; 
    src: url('../../fonts/ClashGrotesk-Bold.ttf'); } 

@font-face { font-family: ClashGroteskSemiBold; 
    src: url('../../fonts/ClashGrotesk-Semibold.ttf'); } 

@font-face { font-family: ClashGroteskRegular; 
    src: url('../../fonts/ClashGrotesk-Regular.ttf'); } 
    