.header {
  background-color: #f4f4f4;
  margin: 0;
  padding: 30px;
  width: 100%;
  height: 9vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 9999;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.button_connect {
  border: 3px solid var(--clr-primary-2);
  border-radius: 50px;
  padding: 10px 20px;
  font-family: var(--font-primary-1);
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--clr-primary-2);
  transition: background-color 200ms ease-out;
}

.button_connect:hover {
  background-color: #fa7921;
}

.button_connect:active {
  font-weight: 600;
}

.header_logo {
  width: 12rem;
}
