.backgroundPurple{
    padding-top: 30px;
    height:146vh;
    background-color: #8185DC;
    display: flex;
    justify-content: center;

}

.returnButton{
    margin-bottom: 30px;
    width: 100px;
    border: 2px solid #000000;
    border-radius: 100px;
    background: #FA7921;
    display: flex;
    justify-content: center;
}

.backgroundPurple h2{
    font-family: ClashGroteskSemiBold;
    font-size: 4.6rem;
    text-transform:uppercase
}

.text_content{
    margin-top: 30px;
    padding:30px;
    width: 750px;
    font-family: Epilogue;
    font-size: 1.1rem;
    line-height: 25px;
    background-color: #F4F4F4;
    border: solid 2px #000000;
    z-index:2;
}

.horizontal_arrow{
    padding: 12px;
    width: 69px;
}

.stars{
    position: absolute;
    left: 0;
    bottom: -390px;
    z-index: 0;
}