.backgroundPurple {
  padding-top: 30px;
  height: 146vh;
  background-color: #8185dc;
  display: flex;
  justify-content: center;
}

.returnButton {
  margin-bottom: 30px;
  width: 100px;
  border: 2px solid #000000;
  border-radius: 100px;
  background: #fa7921;
  display: flex;
  justify-content: center;
}

.backgroundPurple h2 {
  font-family: var(--font-primary-2);
  font-size: 4.6rem;
  text-transform: uppercase;
}

.text_content{
    margin-top: 30px;
    padding:30px;
    width: 60vw;
    font-family: var(--font-primary-1);
    font-size: 1.1rem;
    line-height: 25px;
    background-color: #f4f4f4;
    border: solid 2px #000000;
    z-index: 2;
}

.horizontal_arrow {
  padding: 12px;
  width: 69px;
}

.stars {
  position: absolute;
  left: 0;
  bottom: -390px;
  z-index: 0;
}

@media (max-width: 1220px) {
    .backgroundPurple h2 {
        font-size: 4rem;
      }
  }
  
@media (max-width: 1000px) {
.backgroundPurple h2 {
    font-size: 3.8rem;
    }
}